{% extends 'base.html' %}

{% block links %}
<li><a href="/build/{{form_name}}">Done</a></li>
{% endblock %}

{% block login %}
<form method="post" action="/add_opt/{{q_id}}/{{opt_type}}/">
  <div class="form-group">
  {% csrf_token %}
  <input type="text" name="content" placeholder="option" class="form-control" required></input>

<button type="submit" class="btn btn-default">Save</button>
</div>
</form>

<table>
<tr>
  <th>Order</th>
  <td>Choice</td>
</tr>
{% for option in options %}
<tr>
  <th>{{option.opt_order}}</th>
  <td>{{option.opt_content}}</td>
</tr>
{% endfor %}
</table>
{% endblock %}
