{% extends 'helios.html' %}

{% block links %}
{% endblock %}

{% block login %}
<form method="post" action="">
  {% csrf_token %}
  <h2 style="color:yellow">{{form_name}}</h2>
<input type="text" name="content" placeholder="Question goes here..."><br>

{% if q_type == "single" %}
Data Type:<select name="d_type">
<option value="text">Text</option>
<option value="int">Integer</option>
<option value="float">Float</option>
</select><br>
Maximum Length:<input type="text" name="max_length" placeholder="50" value="50"><br>

{% elif q_type == 'paragraph' %}
Maximum Length:<input type="text" name="max_length" placeholder="500" value="500"><br>

{% elif q_type ==  'radio' %}
Add options after saving question
<br>
{% elif q_type == 'check' %}
Add options after saving question
<br>
{% elif q_type == 'dropdwn' %}
Add options after saving question
<br>
{% elif q_type == 'scale' %}
Start:
<input type="text" name="start" value="1"><br>
End:
<input type="text" name="end" value="10"><br>
{% else %}
{% endif %}
<button type='submit' name="Save">Save</button>
</form>
{% for message in messages %}
<br>
<h3 style="color:yellow">{{message}}</h3>
{% endfor %}
{% endblock %}
