{% extends 'base.html' %}

  {% block formName %}

  {% endblock %}

  {% block links %}
  <li><a href='/'>Home (abort!)</a></li>
  {% endblock %}

  {% block links_right %}
  {% endblock %}

{% block login %}
<form method="post" action="">
  <div class="form-group" >
{% csrf_token %}
{% for question, options in tuple %}
{% if question.q_type == "single" %}

<h4>{{question.content}}</h4><input type="text" name="{{question.order}}" class="form-control" required>

{% elif question.q_type == "paragraph" %}
<h4>{{question.content}}</h4><textarea name="{{question.order}}" class="form-control" required></textarea>

{% elif question.q_type == "radio" %}
<h4>{{question.content}}</h4>
{% for option in options %}
<input type="radio" name="{{question.order}}" value="options.opt_content" required>{{option.opt_content}}<br>
{% endfor %}

{% elif question.q_type == "dropdwn" %}
<h4>{{question.content}}</h4>
<select name="{{question.order}}" required>
{% for option in options %}
{{question.order}}
<option value="{{option.opt_content}}">{{option.opt_content}}</option>
{% endfor %}
</select>

{% elif question.q_type == "check" %}
<br>
{{question.content}}
<br>
{% for option in options %}
<input type="checkbox" name="{{question.order}}" value="options.opt_content">{{option.opt_content}}<br>
{% endfor %}

{% endif %}
{% endfor %}
</div>
<button type="submit" class="btn btn-default">Submit</button>
</form>
{% endblock %}
