{% extends 'base.html' %}

{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'css/build.css' %}">
{% endblock %}

{% block links %}
<li><a href='/'>Done</a></li>
<li class="dropdown">
<a class="dropdown-toggle" data-toggle="dropdown" href="">
ADD</a>
<ul class="dropdown-menu">
    <li><a href="/add_q/{{form_name}}/single">Single Line</a></li>
    <li><a href="/add_q/{{form_name}}/paragraph">Paragraph</a></li>
    <li><a href="/add_q/{{form_name}}/radio">Radio Type</a></li>
    <li><a href="/add_q/{{form_name}}/check">Check Box</a></li>
    <li><a href="/add_q/{{form_name}}/dropdwn">Drop Down</a></li>
    <li><a href="/add_q/{{form_name}}/scale"">Scale</a></li>
</ul>
</li>
{% endblock %}

{% block links_right %}
{% endblock %}

{% block login %}
<table>
<tr>
  <th>Order</th>
  <td>Type</td>
  <td>Statement</td>
</tr>
{% for question in questions %}
<tr>
  <th>{{question.order}}</th>
  <td>{{question.q_type}}</td>
  <td>{{question.content}}</td>
</tr>
{% endfor %}
</table>


{% endblock %}
