{% extends 'helios.html' %}

{% block head %}
{% endblock %}

{% block links %}
<li>
ADD
<ul>
    <li><a href="add_q/{{form_name}}/single">Single Line</a></li>
    <li><a href="add_q/{{form_name}}/paragraph">Paragraph</a></li>
    <li><a href="add_q/{{form_name}}/radio">Radio Type</a></li>
    <li><a href="add_q/{{form_name}}/check">Check Box</a></li>
    <li><a href="add_q/{{form_name}}/dropdwn">Drop Down</a></li>
    <li><a href="add_q/{{form_name}}/toggle">Toggle</a></li>
    <li><a href="add_q/{{form_name}}/scale"">Scale</a></li>
</ul>
</li>
{% endblock %}

{% block login %}
<table>

</table>
{% endblock %}
