{% extends 'helios.html' %}

  {% block links %}
  {% if user.is_authenticated %}
  <li>
    <a href="profile">Edit your info, {{user.first_name}}</a>
  </li>
  <li>
  <a href="create">Create form</a>
  </li>
  <a href="deactivate">Deactivate form</a>
  <li>
  </li>
  <li>
    <a href="respond">Access form</a>
  </li>
  <li>
    <a href="change_password">Change password</a>
  </li>
  <li>
    <a href="logout">Logout</a>
  </li>
  {% endif %}

  {% endblock %}

{% block login %}
    {% if user.is_authenticated %}
        <h3 style="color:yellow">Hello, {{user.first_name}}</h3><br>
        <!-- <a href="profile">Edit your info, {{user.first_name}}</a>
        <a href="create">Create form</a><br>
        <a href="deactivate">Deactivate form</a><br>
        <a href="respond">Access form</a><br>

        <a href="change_password">Change password</a><br>

        <a href="logout">Logout</a><br><br> -->

        <h3 style="color:yellow">Your forms:</h3><br>
        <table style="width:30vw; padding:5pt">
        {% for form in forms %}
        <tr>
        <td><h4 style="color:yellow">{{form.form_name}}</h4></td><td><h4 style="color:yellow">{{form.form_code}}</h4></td></tr>
        {% endfor %}
        </table>

        {%else%}
        <a href="login">Login</a><br>
        <a href="register">Register</a><br>
        {% endif %}

{% endblock %}
