{% extends 'base.html' %}
{% block links %}
<li><a href="/">Go back</a></li>
{% endblock %}

{% block links_right %}
{% endblock %}

{% block login %}
{% if user.is_authenticated %}
        <form action="profile" method="post">
            {% csrf_token %}
            <div class="form-group">

            <input type="text" name="Firstname" placeholder="{{user.first_name}}" class="form-control" ><br>
            <input type="text" name="Lastname" placeholder="{{user.last_name}}" class="form-control" ><br>
            <input type="email" name="Email" placeholder="{{user.email}}" class="form-control" ><br>

            <button type="submit" class="btn btn-default">Submit</button>
          </div>
        </form>
        <div>
                <h3>Fill all fields you want to change.
                {%for message in messages%}
                <h3>{{message}}</h3>
                {%endfor%}
        </div>
        {%else%}
        <a href="login">Login</a><br>
        <a href="register">Register</a><br>
        {% endif %}
{% endblock %}
